.vscode/**
.vscode-test/**
out
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.todo
.vs
package-lock.json
.editorconfig
.npmrc
.gitattributes

node_modules
webpack.config.js
test.md
img/demo.png