.vscode/**
.vscode-test/**
out
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/webpack.config.js
**/tslint.json
**/*.map
**/*.ts
*.todo
.vs
package-lock.json
.editorconfig
.npmrc
.gitattributes

node_modules
test.md
demo.md
LICENSE.txt
proposed-api.md
**/*.scss
img/demo.png
img/webview_demo.png
img/calendar_pic.png
scripts