/* TODO: colors should not be constant */
* {
	box-sizing: border-box;
}

html {
	overflow-y: hidden;
}

body {
	/* background: transparent; */
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	/* padding-top: 1px; */
	font-size: var(--font-size);
	position: relative;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	/* Iframe looks blurry================== */
	-webkit-text-stroke: 0px !important;
	-webkit-font-smoothing: antialiased !important;
	backface-visibility: hidden;
	transform: translateZ(0);
	// ──────────────────────────────────────────────────────────────────────
	--border-light: #cecece6c;
	--foreground: var(--vscode-foreground);
	--tag-foreground: var(--vscode-foreground);
	--tag-background: #0084ff27;
	--tag-hover-background: #0084ff4f;
	--project-background: #36cc9a44;
	--project-hover-background: #36cc9a66;
	--context-background: #c972eb55;
	--context-hover-background: #c972eb77;
	--count-background: #0000001a;
	--count-button-background:  #0000001a;
}

body.vscode-dark {
	--border-light:#ffffff1c;
	--tag-background: #347dd1;
	--tag-hover-background: #2b67ac;
	--tag-foreground: #eee;
	--project-background: #29a078;
	--project-hover-background: #21795b;
	--context-background: #9347b1;
	--context-hover-background: #733d8a;
	--project-foreground: #eee;
	--count-background: #ffffff1a;
	--count-button-background: #ffffff1a;

	--task-checkbox-bg: #3d4d63;
}

a {
	text-decoration: none;
}

input[type="text"] {
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	outline: none !important;
	border: 1px solid var(--vscode-input-border);
	height: 24px;
	font-size: 13px;
	padding: 3px;
	padding-left: 4px;
}

button {
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
	border: none;
	margin: 0 auto;
}

.filter-input-container {
	background-color: var(--vscode-sideBar-background);
	position: fixed;
	z-index: 999;
	padding-top: 6px;
	padding-bottom: 6px;
	left: 0;
	top: 0;
	right: 0;

	.awesomplete {
		display: block;

		.filter-input {
			margin-left: 12px;
			margin-right: 12px;
			display: block;
			width: calc(100% - 24px);

			&:focus {
				outline: none !important;
				border: 1px solid var(--vscode-focusBorder) !important;
			}
		}
	}
}

.list {
	font-family: var(--font-family);
	padding-top: calc(6px + 6px + 24px);
	/* padding-top: 6px; */
	line-height: 1.4;
	overflow-y: auto;
	/* TODO: calc actual filter height */
	height: calc(100vh);
	/*  - 6px - 6px - 24px */
}

.list-item {
	border-left: 3px solid transparent;
	box-shadow: 0 1px 0 0 var(--border-light);
	padding-left: 3px;
	padding-right: 3px;
	word-wrap: break-word;
	padding-top: var(--padding);
	padding-bottom: var(--padding);

	&:hover {
		background-color: var(--vscode-list-hoverBackground);
	}
	&.pri1 {
		border-left-color: #ec4f47;
	}
	&.pri2 {
		border-left-color: #fd9f9a;
	}
	&.pri3 {
		border-left-color: #ffb648;
	}
	&.pri4 {
		border-left-color: #f1d900;

	}
	&.pri5 {
		border-left-color: #ace000;
	}
	&.pri6 {
		border-left-color: #00cfad;
	}
	&.due {
		border-right: 3px solid #82d30099;
	}
	&.overdue {
		border-right: 3px solid #d3000099;
	}
}

.checkbox {
	float: left;
	margin-left: 2px;
}

.tag,
.project,
.context {
	white-space: pre;
	margin-left: 1ch;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
	cursor: pointer;
	vertical-align: middle;
}

.tag {
	color: var(--tag-foreground);
	background-color: var(--tag-background);
	margin-left: 3px;

	&:hover {
		background-color: var(--tag-hover-background);
	}
}

.project {
	color: var(--project-foreground);
	background-color: var(--project-background);
	border-radius: 0;

	&:hover {
		background-color: var(--project-hover-background);
	}
}

.context {
	background-color: var(--context-background);

	&:hover {
		background-color: var(--context-hover-background);
	}
}

.count-container {
	margin-left: 1ch;
	background-color: var(--count-background);
	border-radius: 3px;
	white-space: pre;
}

.count {
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	cursor: default;
}

.decrement-count, .increment-count {
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	background-color: var(--count-button-background);
	cursor: pointer;
	-webkit-user-select: none;
}
// Awesomplete style override
.awesomplete > ul {
	font-family: var(--vscode-editor-font-family) !important;
	font-weight: bold;
	border-color: var(--vscode-editorSuggestWidget-border) !important;
	background: var(--vscode-editorSuggestWidget-background) !important;
	color: var(--vscode-editorSuggestWidget-foreground) !important;
}
.awesomplete > ul > li:hover {
	background: var(--vscode-list-hoverBackground) !important;
	color: var(--vscode-editorSuggestWidget-foreground) !important;
}
.awesomplete > ul:before {// pointer
	display: none !important;
}
.awesomplete > ul > li[aria-selected="true"] {
	background: var(--vscode-editorSuggestWidget-selectedBackground) !important;
	color: var(--vscode-editorSuggestWidget-foreground) !important;
}
.awesomplete mark {
	background: inherit !important;
	color: var(--vscode-editorSuggestWidget-highlightForeground) !important;
}
.awesomplete li:hover mark {
	background: none !important;
	color: var(--vscode-editorSuggestWidget-highlightForeground) !important;
}

.awesomplete li[aria-selected="true"] mark {
	background: inherit !important;
	color: var(--vscode-editorSuggestWidget-highlightForeground) !important;
}
// Custom-styled Checkbox ──────────────────────────────────────────────────────────────
$blue: #41a6d9;

:root {
	--task-checkbox: #{$blue};
	--task-checkbox-bg: #cbd1d8;
	--task-checkbox-fg: #ffffff;
	--task-checkbox-low-contrast-bg: #{lighten($blue, 32%)};
	--task-checkbox-hover-bg: #9faab7;


	--z-index-checkbox-1: 10;
	--z-index-checkbox-2: 15;
}

$checkbox-size: 1rem;

.option-input {
	float: left;
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
	vertical-align: middle;
	-webkit-appearance: none;
	background-color: var(--task-checkbox-bg);
	bottom: 0;
	color: var(--task-checkbox-fg);
	cursor: pointer;
	display: inline-block;
	height: $checkbox-size;
	left: 0;
	position: relative;
	right: 0;
	transition: all 0.2s ease-out 0s;
	width: $checkbox-size;
	z-index: var(--z-index-checkbox-2);

	&.round {
		border-radius: 50%;
	}

	&.rounded-square {
		border-radius: 20%;
	}

	&.fill-round {
		border-radius: 50%;

		&:checked:before {
			display: none;
		}
	}

	&.fill-square {
		border-radius: 0;

		&:checked:before {
			display: none;
		}
	}

	&.fill-rounded-square {
		border-radius: 20%;

		&:checked:before {
			display: none;
		}
	}

	&.low-contrast {
		&:checked {
			background-color: var(--task-checkbox-low-contrast-bg);
			color: var(--task-checkbox);
		}
	}


	&:hover {
		background-color: var(--task-checkbox-hover-bg);
	}

	&:focus {
		outline: none !important;
	}

	&:checked {
		background-color: var(--task-checkbox);

		&:before {
			content: '\2714 \FE0E';// TODO: replace flaky text with svg icon ?
			display: inline-block;
			font-family: 'Segoe UI Symbol', monospace;
			font-size: 0.8rem;
			height: $checkbox-size;
			line-height: $checkbox-size;
			position: absolute;
			text-align: center;
			width: $checkbox-size;
		}

		&:after {
			background-color: var(--task-checkbox);
			content: '';
			display: block;
			pointer-events: none;
			position: relative;
			z-index: var(--z-index-checkbox-1);
		}
	}
}
