/* TODO: colors should not be constant */
* {
	box-sizing: border-box;
}

html {
	overflow-y: hidden;
}

body {
	/* background: transparent; */
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	/* padding-top: 1px; */
	font-size: var(--font-size);
	position: relative;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	/* Iframe looks blurry================== */
	-webkit-text-stroke: 0px !important;
	-webkit-font-smoothing: antialiased !important;
	backface-visibility: hidden;
	transform: translateZ(0);
	// ──────────────────────────────────────────────────────────────────────
	--border-light: #cecece6c;
	--foreground: var(--vscode-foreground);
	--tag-foreground: var(--vscode-foreground);
	--tag-background: #0084ff27;
	--tag-hover-background: #0084ff4f;
	--project-background: #36cc9a44;
	--project-hover-background: #36cc9a66;
}

body.vscode-dark {
	--border-light:#ffffff1c;
	--tag-background: #347dd1;
	--tag-hover-background: #2b67ac;
	--tag-foreground: #eee;
	--project-background: #29a078;
	--project-hover-background: #21795b;
	--project-foreground: #eee;
}

a {
	text-decoration: none;
}

input[type="text"] {
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	outline: none !important;
	border: 1px solid var(--vscode-input-border);
	height: 24px;
	font-size: 13px;
	padding: 3px;
	padding-left: 4px;
}

button {
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
	border: none;
	margin: 0 auto;
}

.filter-input-container {
	background-color: var(--vscode-sideBar-background);
	position: fixed;
	z-index: 999;
	padding-top: 6px;
	padding-bottom: 6px;
	left: 0;
	top: 0;
	right: 0;
}

.filter-input {
	margin-left: 12px;
	margin-right: 12px;
	display: block;
	width: calc(100% - 24px);

	&:focus {
		outline: none !important;
		border: 1px solid var(--vscode-focusBorder) !important;
	}
}


.list {
	padding-top: calc(6px + 6px + 24px);
	/* padding-top: 6px; */
	line-height: 1.5;
	overflow-y: auto;
	/* TODO: calc actual filter height */
	height: calc(100vh);
	/*  - 6px - 6px - 24px */
}

.list-item {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Segoe UI Emoji';
	border-left: 3px solid transparent;
	box-shadow: 0 1px 0 0 var(--border-light);
	padding-left: 6px;
	padding-right: 6px;
	word-wrap: break-word;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
	&.pri1 {
		border-left-color: #ec4f47;
	}
	&.pri2 {
		border-left-color: #fd9f9a;
	}
	&.pri3 {
		border-left-color: #ffb648;
	}
	&.pri4 {
		border-left-color: #f1d900;

	}
	&.pri5 {
		border-left-color: #ace000;
	}
	&.pri6 {
		border-left-color: #00cfad;
	}
	&.due {
		border-right: 3px solid #82d30099;
	}
	&.overdue {
		border-right: 3px solid #d3000099;
	}
}

.checkbox {
	float: left;
}

.tag,
.project,
.context {
	white-space: pre;
	margin-left: 1ch;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
	cursor: pointer;
}

.tag {
	color: var(--tag-foreground);
	background-color: var(--tag-background);
	margin-left: 2px;

	&:hover {
		background-color: var(--tag-hover-background);
	}
}

.project {
	color: var(--project-foreground);
	background-color: var(--project-background);

	&:hover {
		background-color: var(--project-hover-background);
	}
}

.context {
	background-color: #c972eb55;

	&:hover {
		background-color: #c972eb77;
	}
}

.count-container {
	margin-left: 1ch;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	white-space: pre;
}

.count {
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	cursor: default;
}

.decrement-count, .increment-count {
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	-webkit-user-select: none;
}