/* TODO: colors should not be constant */
$blue: #41a6d9;

* {
	box-sizing: border-box;
}

html {
	overflow-y: hidden;
}

body {
	$tagBackground: #c2e1ff;
	$projectBackground: #b6e5d6;
	$contextBackground: #eec4ff;

	--border-light: #cecece6c;
	--foreground: var(--vscode-foreground);
	--done-task-background: #e9f0d6;
	--tag-foreground: var(--vscode-foreground);
	--tag-background: #{$tagBackground};
	--tag-hover-background: #{darken($tagBackground, 8%)};
	--project-background: #{$projectBackground};
	--project-hover-background: #{darken($projectBackground, 8%)};
	--context-background: #{$contextBackground};
	--context-hover-background: #{darken($contextBackground, 8%)};
	--count-background: #0000001a;
	--count-button-background: #0000001a;
	--task-checkbox: #{$blue};
	--task-checkbox-bg: #cbd1d8;
	--task-checkbox-fg: #ffffff;
	--task-checkbox-low-contrast-bg: #{lighten($blue, 32%)};
	--task-checkbox-hover-bg: #9faab7;

	--z-index-checkbox-1: 10;
	--z-index-checkbox-2: 15;
	--z-index-filter-input: 999;
	// ──────────────────────────────────────────────────────────────────────
	backface-visibility: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: var(--font-size);
	-webkit-font-smoothing: antialiased !important;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: calc(4px + 4px + 24px);
	position: relative;
	-webkit-text-stroke: 0 !important;
	transform: translateZ(0);
}

body.vscode-dark {
	--border-light: #ffffff1c;
	--tag-background: #347dd1;
	--tag-hover-background: #2b67ac;
	--tag-foreground: #eeeeee;
	--project-background: #29a078;
	--project-hover-background: #21795b;
	--context-background: #9347b1;
	--context-hover-background: #733d8a;
	--project-foreground: #eeeeee;
	--count-background: #ffffff1a;
	--count-button-background: #ffffff1a;
	--done-task-background: #ace00038;

	--task-checkbox-bg: #3d4d63;
}

$approxOneSpace: 0.25em;

a {
	margin-left: $approxOneSpace;
	text-decoration: none;
	word-break: break-all;
}

input[type='text'] {
	background-color: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border);
	color: var(--vscode-input-foreground);
	font-size: 13px;
	height: 24px;
	outline: none !important;
	padding: 3px;
	padding-left: 4px;
}

button,
.btn {
	background-color: var(--vscode-button-background);
	border: none;
	color: var(--vscode-button-foreground);
	font-family: var(--vscode-font-family);
	margin: 0 auto;

	&:hover {
		background-color: var(--vscode-button-hoverBackground);
		color: var(--vscode-button-foreground);
	}

	&.btn-welcome {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 260px;
		outline-offset: 2px !important;
		padding: 4px;
		text-align: center;
		width: calc(100% - 40px);
	}
}

.welcome-text {
	display: block;
	margin: 1em 20px;
}

.filter-input-container {
	background-color: var(--vscode-sideBar-background);
	left: 0;
	padding-bottom: 4px;
	padding-top: 4px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: var(--z-index-filter-input);

	.awesomplete {
		display: block;

		.filter-input {
			display: block;
			margin-left: 12px;
			margin-right: 12px;
			width: calc(100% - 24px);

			&:focus {
				border: 1px solid var(--vscode-focusBorder) !important;
				outline: none !important;
			}
		}
	}
}

.list {
	font-family: var(--font-family);
	height: calc(100vh - 4px - 4px - 24px);
	line-height: 1.4;
	overflow-y: auto;
}

.list-item {
	border-left: 3px solid transparent;
	box-shadow: 0 1px 0 0 var(--border-light);
	padding: var(--padding) 3px;
	word-wrap: break-word;

	&.done {
		background-color: var(--done-task-background);
	}

	&:hover {
		background-color: var(--vscode-list-hoverBackground);
	}

	&.pri1 {
		border-left-color: #ec4f47;
	}

	&.pri2 {
		border-left-color: #fd9f9a;
	}

	&.pri3 {
		border-left-color: #ffb648;
	}

	&.pri4 {
		border-left-color: #f1d900;
	}

	&.pri5 {
		border-left-color: #ace000;
	}

	&.pri6 {
		border-left-color: #00cfad;
	}

	&.due {
		border-right: 3px solid #82d30099;
	}

	&.overdue {
		border-right: 3px solid #d3000099;
	}

	&.not-due {
		border-right: 3px solid #808080;
	}
}

.native-checkbox {
	margin-left: 2px;
}

.tag,
.project,
.context {
	border-radius: 3px;
	cursor: pointer;
	margin-left: $approxOneSpace;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: middle;
	white-space: pre;
}

.tag {
	background-color: var(--tag-background);
	color: var(--tag-foreground);
	margin-left: 3px;

	&:hover {
		background-color: var(--tag-hover-background);
	}
}

.project {
	background-color: var(--project-background);
	border-radius: 0;
	color: var(--project-foreground);

	&:hover {
		background-color: var(--project-hover-background);
	}
}

.context {
	background-color: var(--context-background);

	&:hover {
		background-color: var(--context-hover-background);
	}
}

.count-container {
	background-color: var(--count-background);
	border-radius: 3px;
	margin-left: $approxOneSpace;
	white-space: pre;
}

.count {
	cursor: default;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.decrement-count,
.increment-count {
	background-color: var(--count-button-background);
	cursor: pointer;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	-webkit-user-select: none;
}

.hidden {
	display: none;
}
// Awesomplete style override
.awesomplete > ul {
	background-color: var(--vscode-editorSuggestWidget-background) !important;
	border-color: var(--vscode-editorSuggestWidget-border) !important;
	color: var(--vscode-editorSuggestWidget-foreground) !important;
	font-family: var(--vscode-editor-font-family) !important;
	font-weight: bold;
}

.awesomplete > ul > li:hover {
	background-color: var(--vscode-list-hoverBackground) !important;
	color: var(--vscode-editorSuggestWidget-foreground) !important;
}

.awesomplete > ul:before {// pointer
	display: none !important;
}

.awesomplete > ul > li[aria-selected='true'] {
	background-color: var(--vscode-editorSuggestWidget-selectedBackground) !important;
	color: var(--vscode-editorSuggestWidget-foreground) !important;
}

.awesomplete mark {
	background-color: inherit !important;
	color: var(--vscode-editorSuggestWidget-highlightForeground) !important;
}

.awesomplete li:hover mark {
	background: none !important;
	color: var(--vscode-editorSuggestWidget-highlightForeground) !important;/* stylelint-disable-line property-blacklist */
}

.awesomplete li[aria-selected='true'] mark {
	background-color: inherit !important;
	color: var(--vscode-editorSuggestWidget-highlightForeground) !important;
}
// Custom-styled Checkbox ──────────────────────────────────────────────────────────────
$checkbox-size: 1rem;

.option-input {
	-webkit-appearance: none;
	background-color: var(--task-checkbox-bg);
	bottom: 0;
	color: var(--task-checkbox-fg);
	cursor: pointer;
	display: inline-block;
	// float: left;
	height: $checkbox-size;
	left: 0;
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
	position: relative;
	right: 0;
	transition: all 0.2s ease-out 0s;
	vertical-align: middle;
	width: $checkbox-size;
	z-index: var(--z-index-checkbox-2);

	&.round {
		border-radius: 50%;
	}

	&.rounded-square {
		border-radius: 20%;
	}

	&.fill-round {
		border-radius: 50%;

		&:checked:before {
			display: none;
		}
	}

	&.fill-square {
		border-radius: 0;

		&:checked:before {
			display: none;
		}
	}

	&.fill-rounded-square {
		border-radius: 20%;

		&:checked:before {
			display: none;
		}
	}

	&.low-contrast {
		&:checked {
			background-color: var(--task-checkbox-low-contrast-bg);
			color: var(--task-checkbox);
		}
	}


	&:hover {
		background-color: var(--task-checkbox-hover-bg);
	}

	&:focus {
		outline: none !important;
	}

	&:checked {
		background-color: var(--task-checkbox);

		&:before {
			content: '\2714 \FE0E';
			display: inline-block;
			font-family: 'Segoe UI Symbol', monospace;
			font-size: 0.8rem;
			height: $checkbox-size;
			line-height: $checkbox-size;
			position: absolute;
			text-align: center;
			width: $checkbox-size;
		}

		&:after {
			background-color: var(--task-checkbox);
			content: '';
			display: block;
			pointer-events: none;
			position: relative;
			z-index: var(--z-index-checkbox-1);
		}
	}
}
