.context-menu {
	position: fixed;
	--mouse-x: 0;
    --mouse-y: 0;
	left: 0;
    top: 0;
	// https://mionskowski.pl/posts/positioning-a-context-menu-using-pure-css/
	transform: translateX(min(var(--mouse-x), calc(100vw - 100%))) translateY(min(var(--mouse-y), calc(100vh - 100%)));

	box-shadow: var(--vscode-widget-shadow) 0 2px 4px;
	font-family: var(--vscode-font-family);
	font-size: 13px;
	list-style: none;
	background-clip: padding-box;
	background-color: var(--vscode-menu-background);
	border: 1px solid var(--vscode-menu-border);
	margin: 0;
	padding: 0.5em 0;
	// overflow-y: auto;
	// max-height: calc(100% - 50px);
	// min-width: 10rem;
	z-index: 1000000;
}

.context-menu .icon {
	display: inline-block;
	min-width: 1.5em;
	padding-right: 0.25em;

	&.codicon-go-to-file {
		left: -2px;
		position: relative;
	}
}

.context-menu > li > a,
.context-menu ul > li > a {
	align-items: center;
	background-color: transparent;
	border: 0;
	color: var(--vscode-menu-foreground);
	display: flex;
	height: 1.7rem;
	margin: 0;
	padding: 0.5rem;
	text-decoration: none;
	white-space: nowrap;
}

.context-menu > li > a:focus,
.context-menu > li > a:hover,
.context-menu ul > li > a:focus,
.context-menu ul > li > a:hover {
	background-color: var(--vscode-menu-selectionBackground);
	border-color: var(--vscode-menu-selectionBorder);
	color: var(--vscode-menu-selectionForeground);
	text-decoration: none;
}
