table {
	border-collapse: collapse;
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
}

td,
th {
	border: 1px solid var(--border-darker);
	padding: 0.2rem;
}

blockquote,
ul,
ol {
	margin: 0;
}

code {
	background-color: var(--inline-code-bg);
	border: 1px solid var(--inline-code-border);
	border-radius: 3px;
	color: var(--vscode-editor-foreground);
	font-family: var(--vscode-editor-font-family);
	letter-spacing: 0.5px;
	// font-size: calc(var(--font-size) - 1px);
	padding: 0 0.3em;
}