#autosuggest {
	background-color: var(--vscode-sideBar-background);
	left: 0;
	margin-left: 12px;
	margin-right: 12px;
	padding-bottom: 4px;
	padding-top: 4px;
	position: fixed;
	right: 0;
	top: 0;
	width: calc(100% - 24px);
	z-index: var(--z-index-filter-input);
}

.autosuggest__results-container {
	background-color: var(--vscode-sideBar-background) !important;
	color: var(--vscode-editorSuggestWidget-foreground) !important;
	font-family: var(--vscode-editor-font-family) !important;
	font-weight: bold;
	position: relative;
	width: 100%;
}

.autosuggest__results {
	background-color: var(--vscode-sideBar-background) !important;
	color: var(--vscode-editorSuggestWidget-foreground) !important;
	font-family: var(--vscode-editor-font-family) !important;
	margin: 0;
	padding: 0;
	width: 100%;

	mark {
		background-color: inherit !important;
		color: var(--vscode-editorSuggestWidget-highlightForeground) !important;
	}
}

.autosuggest__results ul {
	cursor: pointer;
	list-style: none;
	margin: 0;
	max-height: 150px;
	overflow-y: auto;
	padding-left: 0;

	&:not(:empty) {
		border-color: var(--vscode-editorSuggestWidget-border) !important;
		border-style: solid;
		border-width: 1px;
	}
}

#autosuggest ul:nth-child(1) > .autosuggest__results_title {
	border-top: none;
}

.autosuggest__results-item {
	padding: 3px 7px;
}

.autosuggest__results-item:active,
.autosuggest__results-item:focus,
.autosuggest__results-item--highlighted {
	background-color: var(--vscode-editorSuggestWidget-selectedBackground) !important;
	color: var(--vscode-editorSuggestWidget-selectedForeground) !important;

	mark {
		color: var(--vscode-editorSuggestWidget-focusHighlightForeground) !important;
	}
}

.autosuggest__results-item:hover {
	background-color: var(--vscode-list-hoverBackground) !important;
	color: var(--vscode-editorSuggestWidget-foreground) !important;
}

#autosuggest__input {
	background-color: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border);
	color: var(--vscode-input-foreground);
	display: block;
	font-family: var(--vscode-editor-font-family);
	font-size: 13px;
	height: 24px;
	outline: none !important;
	padding: 3px;
	padding-left: 4px;
	width: 100%;

	&::selection {
		background-color: var(--vscode-editor-selectionBackground);
	}

	&:focus {
		border: 1px solid var(--vscode-focusBorder) !important;
		outline: none !important;
	}
}
