.suggest-container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

.suggest {
	background-color: var(--vscode-sideBar-background);
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: calc(100% - 24px);
	z-index: var(--z-index-filter-input);
}

.suggest__input {
	background-color: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border);
	border-radius: 2px;
	color: var(--vscode-input-foreground);
	display: block;
	font-family: var(--vscode-editor-font-family);
	font-size: 13px;
	height: 24px;
	outline: none;
	padding: 3px;
	padding-left: 4px;
	width: 100%;

	&::selection {
		background-color: var(--vscode-selection-background, var(--vscode-editor-selectionBackground));
	}

	&:focus {
		border: 1px solid var(--vscode-focusBorder);
		outline: none;
	}
}

.suggest__autocomplete-container {
	background-color: var(--vscode-sideBar-background);
	color: var(--vscode-editorSuggestWidget-foreground);
	font-family: var(--vscode-editor-font-family);
	left: 0;
	max-height: 150px;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1000;

	&:not(:empty) {
		border-color: var(--vscode-editorSuggestWidget-border);
		border-style: solid;
		border-width: 1px;
	}
}

.suggest__autocomplete-item {
	cursor: pointer;
	font-weight: bold;
	padding: 3px 7px;

	> .suggest__highlight {
		background-color: transparent;
		color: var(--vscode-editorSuggestWidget-highlightForeground);
	}

	&:hover {
		background-color: var(--vscode-list-hoverBackground);
		color: var(--vscode-editorSuggestWidget-foreground);
	}

	&--active {
		background-color: var(--vscode-editorSuggestWidget-selectedBackground) !important;
		color: var(--vscode-editorSuggestWidget-selectedForeground) !important;

		> .suggest__highlight {
			color: var(--vscode-editorSuggestWidget-focusHighlightForeground) !important;
		}
	}
}

