.v-context,
.v-context ul {
	background-clip: padding-box;
	background-color: var(--vscode-menu-background);
	border: 1px solid var(--vscode-menu-border);
	box-shadow: 0 2px 2px 0 var(--vscode-widget-shadow), 0 3px 1px -2px var(--vscode-widget-shadow), 0 1px 5px 0 var(--vscode-widget-shadow);
	display: block;
	list-style: none;
	margin: 0;
	max-height: calc(100% - 50px);
	min-width: 10rem;
	overflow-y: auto;
	padding: 0;
	position: fixed;
	z-index: 1000000;
}

.v-context > li,
.v-context ul > li {
	margin: 0;
	position: relative;
}

.v-context > li > a,
.v-context ul > li > a {
	background-color: transparent;
	border: 0;
	color: var(--vscode-menu-foreground);
	display: block;
	margin: 0;
	padding: 0.5rem 0.7rem;
	text-decoration: none;
	white-space: nowrap;
}

.v-context > li > a:focus,
.v-context > li > a:hover,
.v-context ul > li > a:focus,
.v-context ul > li > a:hover {
	background-color: var(--vscode-menu-selectionBackground);
	border-color: var(--vscode-menu-selectionBorder);
	color: var(--vscode-menu-selectionForeground);
	text-decoration: none;
}

.v-context:focus,
.v-context > li > a:focus,
.v-context ul:focus,
.v-context ul > li > a:focus {
	outline: 0;
}

.v-context__sub > a:after {
	content: '\203A';
	float: right;
	padding-left: 1rem;
}

.v-context__sub > ul {
	display: none;
}