@use 'box_sizing';
@use 'suggest';
@use 'context_menu';
@use 'misc';
@use 'mixins';

// Would have been multiple files if vscode had autocomplete between files for scss & css variables :(
html {
	overflow-y: hidden;
}

$approxOneSpace: 0.25em;
$tagBackground: #d5e6fc;
$tagForeground: darken($tagBackground, 70%);
$tagBorder: darken($tagBackground, 20%);
$projectBackground: #cbf3e7;
$projectForeground: darken($projectBackground, 70%);
$projectBorder: darken($projectBackground, 35%);
$contextBackground: #f7e0ff;
$contextForeground: darken($contextBackground, 70%);
$contextBorder: darken($contextBackground, 17%);
$hoverDarkenPercent: 8%;
$taskDetailsHeight: 10rem;

body {
	--border-low-contrast: #cecece6c;
	--border-high-contrast: #bebebe;
	--border-darker: #cecece;

	--task-hover-bg: rgba(0, 0, 0, 0.05);

	--task-left-padding: 3px;
	--twistie-size: calc(var(--font-size) + 4px);

	--foreground: var(--vscode-foreground);

	--done-task-bg: #e9f0d6;
	--selected-task-bg: rgba(0, 0, 0, 0.03);

	--twistie-hover-bg: rgba(0, 0, 0, 0.07);
	--checkbox-hover-bg: rgba(0, 0, 0, 0.07);

	--tag-padding: 0px 4px;

	--tag-fg: #{$tagForeground};
	--tag-bg: #{$tagBackground};
	--tag-border: #{$tagBorder};

	--project-bg: #{$projectBackground};
	--project-fg: #{$projectForeground};
	--project-border: #{$projectBorder};

	--context-bg: #{$contextBackground};
	--context-fg: #{$contextForeground};
	--context-border: #{$contextBorder};

	--count-bg: #0000000c;
	--count-button-bg: #00000014;
	--count-button-hover-bg: #0000002b;

	--nested-count-bg: #f3f1d499;


	--due-fg: #01c208;
	--due-bg: #01c20812;
	--due-border: #01c20830;

	--not-due-bg: #e9e9e9dd;
	--not-due-border: #bebebe86;

	--overdue-fg: #d3000099;
	--overdue-bg: #d3000012;
	--overdue-border: #d3000020;

	--due-invalid-fg: #7284eb;
	--due-invalid-bg: #7284eb12;
	--due-invalid-border: #7284eb;

	--inline-code-bg: rgba(27, 31, 35, 0.03);
	--inline-code-border: rgba(0, 0, 0, 0.1);

	--duration-animation-color1: #ee7f0020;
	--duration-animation-color2: #028dd820;

	--z-index-checkbox-1: 10;
	--z-index-checkbox-2: 15;
	--z-index-filter-input: 999;
	--z-index-details: 1000;
	// ────────────────────────────────────────────────────────────
	backface-visibility: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: var(--font-size);
	-webkit-font-smoothing: antialiased !important;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: calc(4px + 4px + 24px);
	position: relative;
	-webkit-text-stroke: 0 !important;
	transform: translateZ(0);// where are those values coming from?
}

body.vscode-dark,
body.vscode-high-contrast:not(.vscode-high-contrast-light) {
	--border-low-contrast: #ffffff1c;
	--border-high-contrast: #949494;
	--border-darker: #6d6d6d;

	--task-hover-bg: rgba(255, 255, 255, 0.1);

	--done-task-bg: #99ff8c1a;

	--tag-padding: 1px 4px;

	--tag-bg: #{darken($tagBackground, 12.5%)};
	--tag-fg: #000000;

	--project-bg: #{darken($projectBackground, 22.5%)};
	--project-fg: #000000;

	--context-bg: #{darken($contextBackground, 10%)};
	--context-fg: #000000;

	--count-bg: #ffffff1a;
	--count-button-bg: #ffffff1a;
	--count-button-hover-bg: #ffffff2a;

	--selected-task-bg: rgba(255, 255, 255, 0.04);

	--nested-count-bg: #ebe7b5;
	--nested-count-fg: #000000;

	--due-fg: #35c03a;
	--due-bg: #35c03a16;
	--due-border: #35c03a90;

	--overdue-fg: #ff6868;
	--overdue-bg: #fc424216;
	--overdue-border: #ff686890;

	--not-due-bg: #dadada30;
	--not-due-border: #bebebe29;

	--twistie-hover-bg: rgba(255, 255, 255, 0.1);
	--checkbox-hover-bg: rgba(255, 255, 255, 0.1);

	--inline-code-bg: rgba(240, 246, 252, 0.07);
	--inline-code-border: rgba(240, 246, 252, 0.14);

	--duration-animation-color1: #ee7f0040;
	--duration-animation-color2: #028dd840;
}

a {
	margin-left: $approxOneSpace;
	text-decoration: none;
	word-break: break-all;

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		text-decoration: dashed underline 1px;
		text-underline-offset: 2px;
	}
}

.btn {
	background-color: var(--vscode-button-background);
	border: none;
	color: var(--vscode-button-foreground);
	font-family: var(--vscode-font-family);
	margin: 0 auto;

	&--welcome {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 260px;
		outline-offset: 2px !important;
		padding: 4px;
		text-align: center;
		width: calc(100% - 40px);
	}

	&--link {
		padding: 0.07em 0.4em;
	}

	&:hover {
		background-color: var(--vscode-button-hoverBackground);
		color: var(--vscode-button-foreground);
	}
}
// ────────────────────────────────────────────────────────────
// ──── Task list ─────────────────────────────────────────────
// ────────────────────────────────────────────────────────────
.task-list {
	font-family: var(--font-family);
	height: calc(100vh - 4px - 4px - 24px);
	line-height: var(--line-height);
	overflow-x: hidden;
	overflow-y: var(--list-scrollbar-value);

	&--details-visible {
		height: calc(100vh - 4px - 4px - 24px - #{$taskDetailsHeight});
	}
}
// ────────────────────────────────────────────────────────────
// ──── Task ──────────────────────────────────────────────────
// ────────────────────────────────────────────────────────────
.task {
	border: 1px solid transparent;
	border-left: var(--priority-left-padding) solid transparent;
	box-shadow: 0 1px 0 0 var(--border-low-contrast);
	padding: var(--padding) var(--task-left-padding);
	position: relative;
	word-wrap: break-word;

	&--filter-dont-match {
		opacity: 0.5;
	}

	&:hover {
		opacity: 1;
		box-shadow: inset 0 0 2000px 0 var(--task-hover-bg);
	}

	&--done {
		background-color: var(--done-task-bg);

		&--strike-through > .task__title {
			text-decoration: line-through;
		}

		.task__duration {
			animation: none;
			background-image: none;
			border: 1px solid var(--border-darker);
			padding-bottom: 0;
			padding-top: 0;
		}
	}

	&--selected {
		opacity: 1;
		border-top: 1px solid rgb(0, 162, 255);
		border-bottom: 1px solid rgb(0, 162, 255);
		box-shadow: inset 0 0 100vw 100vh var(--selected-task-bg);
	}

	&--nested-lvl-1 {
		padding-left: var(--indent-size);
	}

	&--nested-lvl-2 {
		padding-left: calc(var(--indent-size) * 2);
	}

	&--nested-lvl-3 {
		padding-left: calc(var(--indent-size) * 3);
	}

	&--nested-lvl-4 {
		padding-left: calc(var(--indent-size) * 4);
	}

	&--nested-lvl-5 {
		padding-left: calc(var(--indent-size) * 5);
	}

	&--nested-lvl-6 {
		padding-left: calc(var(--indent-size) * 6);
	}

	&--priA {
		border-left-color: #ec4f47;
	}

	&--priB {
		border-left-color: #fd9f9a;
	}

	&--priC {
		border-left-color: #ffb648;
	}

	&--priD {
		border-left-color: #f1d900;
	}

	&--priE {
		border-left-color: #ace000;
	}

	&--priF {
		border-left-color: #00cfad;
	}

	&__twistie {
		cursor: pointer;
		float: left;
		height: var(--twistie-size);
		margin-left: -2px;
		position: relative;
		top: calc(((var(--padding) * 2 + var(--font-size) * var(--line-height)) - var(--twistie-size)) / 2);
		width: var(--twistie-size);

		&::before {
			border-radius: 3px;
			font-size: calc(var(--font-size) + 0.15em);
			padding: 0.1em 0;
		}

		&:hover::before {
			background-color: var(--twistie-hover-bg);
		}
	}

	&__tag,
	&__project,
	&__context {
		border: thin dashed;
		border-radius: 0.25em;
		cursor: pointer;
		font-family: var(--vscode-editor-font-family);
		margin-left: $approxOneSpace;
		padding: var(--tag-padding);
		white-space: pre;

		&:hover {
			filter: brightness(95%);
		}

		.vscode-dark & {
			border: none;
		}
	}

	&__tag {
		background-color: var(--tag-bg);
		border-color: var(--tag-border);
		color: var(--tag-fg);
		margin-left: 3px;
	}

	&__project {
		background-color: var(--project-bg);
		border-color: var(--project-border);
		color: var(--project-fg);
	}

	&__context {
		background-color: var(--context-bg);
		border-color: var(--context-border);
		color: var(--context-fg);
	}

	&__favorite {
		// similar to due-state. Maybe dedup?
		align-items: center;
		display: flex;
		justify-content: center;
		float: right;
		margin-left: $approxOneSpace;
		padding: 0 0.3em;
		position: relative;
		top: 2px;
		border: 1px solid transparentize(deeppink, 0.7);
		color: deeppink;
		padding-bottom: 0.15em;
		padding-top: 0.15em;
	}
	&__due-state {
		align-items: center;
		cursor: default;
		display: flex;
		float: right;
		font-size: smaller;
		justify-content: center;
		margin-left: $approxOneSpace;
		padding: 0 0.3em;
		position: relative;
		top: 1px;

		.vscode-dark & {
			border-style: dashed !important;
		}

		&--due {
			background-color: var(--due-bg);
			border: 1px solid var(--due-border);
			color: var(--due-fg);
			padding-bottom: 0.15em;
			padding-top: 0.15em;
		}

		&--not-due {
			background-color: var(--not-due-bg);
			border: 1px solid var(--not-due-border);
		}

		&--overdue {
			background-color: var(--overdue-bg);
			border: 1px solid var(--overdue-border);
			color: var(--overdue-fg);
		}

		&--invalid {
			background-color: var(--due-invalid-bg);
			border: 1px solid var(--due-invalid-border);
			color: var(--due-invalid-fg);
			padding-bottom: 0.15em;
			padding-top: 0.15em;
		}
	}

	&__overdue-count,
	&__days-to-count {
		padding-left: $approxOneSpace;
	}

	&__nested-count {
		align-items: center;
		background-color: var(--nested-count-bg);
		border: 1px solid #dfd98799;
		color: var(--nested-count-fg);
		cursor: default;
		display: inline-flex;
		font-family: var(--vscode-editor-font-family);
		justify-content: center;
		margin-right: $approxOneSpace;
		// margin-top: calc(((var(--padding) * 2 + var(--font-size) * var(--line-height) - var(--font-size)) / 2));
		padding: 0 0.3em;

		.vscode-dark & {
			padding: 0 0.2em;
		}
	}

	&__nested-count-number {
		font-size: calc(var(--font-size) - 1px);
		padding-left: $approxOneSpace;
	}

	&__duration {
		align-items: center;
		animation: AnimateBackground 5s ease infinite;
		background-image: linear-gradient(270deg, var(--duration-animation-color1), var(--duration-animation-color2));
		background-size: 400% 400%;
		cursor: default;
		display: inline-flex;
		font-size: calc(var(--font-size) - 1px);
		justify-content: center;
		margin-right: $approxOneSpace;
		margin-top: 1px;
		padding: 1px 0.25em;
		@keyframes AnimateBackground {
			// https://www.gradient-animator.com
			0% {
				background-position: 0% 50%;
			}

			50% {
				background-position: 100% 50%;
			}

			100% {
				background-position: 0% 50%;
			}
		}
	}

	&__count-container {
		display: inline-flex;
		background-color: var(--count-bg);
		margin-left: $approxOneSpace;
		white-space: pre;
	}

	&__count {
		cursor: default;
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}

	&__decrement-count,
	&__increment-count {
		background-color: inherit;
		border: 1px solid transparent;
		color: var(--vscode-foreground);
		cursor: pointer;
		display: inline-block;
		padding: 0 0.2rem;
		text-align: center;
		user-select: none;
		width: 1.3em;

		&:hover {
			background-color: var(--count-button-hover-bg);
		}
	}

	&__decrement-count {
		border-right: 1px solid var(--border-low-contrast);
	}

	&__increment-count {
		border-left: 1px solid var(--border-low-contrast);
	}

	&::after {
		@include mixins.clearfix ();
	}

	.codicon {
		font-size: calc(var(--font-size) - 1px);
	}
}
// ────────────────────────────────────────────────────────────
// ──── Details ───────────────────────────────────────────────
// ────────────────────────────────────────────────────────────
.details {
	background-color: var(--vscode-sideBar-background);
	border-top: 1px solid var(--vscode-sideBar-border, --vscode-input-border);
	box-shadow: inset 0 0 100vw $taskDetailsHeight rgba(0, 0, 0, 0.05);
	height: $taskDetailsHeight;
	overflow-x: hidden;
	padding: 0.3em 0.5em;
	z-index: var(--z-index-details);

	&__input {
		background-color: var(--vscode-input-background);
		border: 1px solid var(--vscode-input-border);
		color: var(--vscode-input-foreground);
		font-family: var(--vscode-editor-font-family);
		font-size: 13px;
		line-height: 1.4;
		overflow-y: hidden;
		padding: 3px;
		width: 100%;

		&::selection {
			background-color: var(--vscode-editor-selectionBackground, #accef7);
		}

		&:focus {
			border: 1px solid var(--vscode-focusBorder) !important;
			outline: none !important;
		}
	}
}
// ────────────────────────────────────────────────────────────
// ──── Welcome ───────────────────────────────────────────────
// ────────────────────────────────────────────────────────────
.welcome {
	&__text {
		display: block;
		margin: 1em 20px;
	}
}
// ────────────────────────────────────────────────────────────
// ──── Checkbox ──────────────────────────────────────────────
// ────────────────────────────────────────────────────────────
.checkbox {
	float: left;

	&--native {
		margin-left: 2px;
		margin-right: 5px;
		transform: scale(1.11);
	}

	&--custom {
		--checkbox-size: calc(var(--font-size) + 2px);
		-webkit-appearance: none;
		background-color: var(--vscode-checkbox-background);
		border: 1px solid var(--vscode-checkbox-border);
		border-radius: 3px;
		bottom: 0;
		color: var(--vscode-checkbox-foreground);
		cursor: pointer;
		display: inline-block;
		height: var(--checkbox-size);
		left: 0;
		margin: 0;
		margin-left: 0;
		margin-right: 4px;
		padding: 0;
		position: relative;
		right: 0;
		top: 2px;
		// top: calc(((var(--padding) * 2 + var(--font-size) * var(--line-height)) - var(--checkbox-size)) / 2);
		width: var(--checkbox-size);
		z-index: var(--z-index-checkbox-2);

		&:checked {
			background-color: var(--vscode-checkbox-background);
		}

		&:checked::before {
			content: '\eab2';
			display: inline-block;
			font-family: codicon;
			font-size: var(--font-size);
			-webkit-font-smoothing: antialiased;
			text-align: center;
			text-decoration: none;
			text-rendering: auto;
		}

		&:hover {
			box-shadow: inset 0 0 var(--checkbox-size) var(--checkbox-size) var(--checkbox-hover-bg);
		}
	}
}
