@import 'suggest.scss';

* {
	box-sizing: border-box;
}

html {
	overflow-y: hidden;
}

$approxOneSpace: 0.25em;
$tagBackground: #d2e8ff;
$projectBackground: #c5ece0;
$contextBackground: #f7e0ff;
$checkboxBackground: #cbd1d8;
$darkenPercent: 8%;

body {
	--line-height: 1.4;
	--border-light: #cecece6c;
	--border-darker: #cecece;
	--foreground: var(--vscode-foreground);
	--done-task-background: #e9f0d6;
	--tag-foreground: var(--vscode-foreground);
	--tag-background: #{$tagBackground};
	--tag-hover-background: #{darken($tagBackground, $darkenPercent)};
	--project-background: #{$projectBackground};
	--project-hover-background: #{darken($projectBackground, $darkenPercent)};
	--context-background: #{$contextBackground};
	--context-hover-background: #{darken($contextBackground, $darkenPercent)};
	--count-background: #0000000c;
	--count-button-background: #00000014;
	--count-button-hover-background: #0000002b;

	--checkbox-bg: #{$checkboxBackground};
	--checkbox-done-bg: #{darken($checkboxBackground, 20%)};
	--checkbox-fg: #ffffff;
	--checkbox-hover-bg: #9faab7;// TODO: use darken to get this color?

	--z-index-checkbox-1: 10;
	--z-index-checkbox-2: 15;
	--z-index-filter-input: 999;
	// ──────────────────────────────────────────────────────────────────────
	backface-visibility: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: var(--font-size);
	-webkit-font-smoothing: antialiased !important;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: calc(4px + 4px + 24px);
	position: relative;
	-webkit-text-stroke: 0 !important;
	transform: translateZ(0);
}

body.vscode-dark {
	--border-light: #ffffff1c;
	--border-darker: #6d6d6d;
	--tag-background: #347dd1;
	--tag-hover-background: #2b67ac;
	--tag-foreground: #eeeeee;
	--project-background: #29a078;
	--project-hover-background: #21795b;
	--context-background: #9347b1;
	--context-hover-background: #733d8a;
	--project-foreground: #eeeeee;
	--count-background: #ffffff1a;
	--count-button-background: #ffffff1a;
	--done-task-background: #ace0001c;

	--checkbox-bg: #3d4d63;
	--checkbox-low-contrast-bg: #{darken($checkboxBackground, 20%)};
}

table {
	border-collapse: collapse;
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
}

td,
th {
	border: 1px solid var(--border-darker);
	padding: 0.2rem;
}

a {
	margin-left: $approxOneSpace;
	text-decoration: none;
	word-break: break-all;
}

input[type='text'] {
	background-color: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border);
	color: var(--vscode-input-foreground);
	font-size: 13px;
	height: 24px;
	outline: none !important;
	padding: 3px;
	padding-left: 4px;
}

button,
.btn {
	background-color: var(--vscode-button-background);
	border: none;
	color: var(--vscode-button-foreground);
	font-family: var(--vscode-font-family);
	margin: 0 auto;

	&:hover {
		background-color: var(--vscode-button-hoverBackground);
		color: var(--vscode-button-foreground);
	}

	&.btn-welcome {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 260px;
		outline-offset: 2px !important;
		padding: 4px;
		text-align: center;
		width: calc(100% - 40px);
	}
}

.welcome-text {
	display: block;
	margin: 1em 20px;
}

.task-list {
	font-family: var(--font-family);
	height: calc(100vh - 4px - 4px - 24px);
	line-height: var(--line-height);
	overflow-y: auto;
}

.list-item {
	border-left: 3px solid transparent;
	box-shadow: 0 1px 0 0 var(--border-light);
	padding: var(--padding) 3px;
	word-wrap: break-word;

	&.done {
		background-color: var(--done-task-background);

		&.strike-through > .title {
			text-decoration: line-through;
		}
	}

	&:hover {
		background-color: var(--vscode-list-hoverBackground);
	}

	$nestedItemMarginSize: 1.7rem;

	&.nested-lvl-1 {
		padding-left: $nestedItemMarginSize;
	}

	&.nested-lvl-2 {
		padding-left: $nestedItemMarginSize * 2;
	}

	&.nested-lvl-3 {
		padding-left: $nestedItemMarginSize * 3;
	}

	&.nested-lvl-4 {
		padding-left: $nestedItemMarginSize * 4;
	}

	&.nested-lvl-5 {
		padding-left: $nestedItemMarginSize * 5;
	}

	&.pri1 {
		border-left-color: #ec4f47;
	}

	&.pri2 {
		border-left-color: #fd9f9a;
	}

	&.pri3 {
		border-left-color: #ffb648;
	}

	&.pri4 {
		border-left-color: #f1d900;
	}

	&.pri5 {
		border-left-color: #ace000;
	}

	&.pri6 {
		border-left-color: #00cfad;
	}

	&.due {
		border-right: 3px solid #82d30099;
	}

	&.overdue {
		border-right: 3px solid #d3000099;
	}

	&.not-due {
		border-right: 3px solid #808080;
	}

	.twistie {
		cursor: pointer;
		height: 16px;
		position: relative;
		top: calc(((var(--padding) * 2 + var(--font-size) * var(--line-height)) - 16px) / 2);
		width: 16px;// Try to center the element
	}
}

.checkbox {
	+ a {
		margin-left: 0;
	}
}

.native-checkbox {
	margin-left: 2px;
	margin-right: 5px;
	transform: scale(1.11);
}

.tag,
.project,
.context {
	border-radius: 3px;
	cursor: pointer;
	margin-left: $approxOneSpace;
	padding-left: 4px;
	padding-right: 4px;
	white-space: pre;
}

.tag {
	background-color: var(--tag-background);
	color: var(--tag-foreground);
	margin-left: 3px;

	&:hover {
		background-color: var(--tag-hover-background);
	}
}

.project {
	background-color: var(--project-background);
	border-radius: 0;
	color: var(--project-foreground);

	&:hover {
		background-color: var(--project-hover-background);
	}
}

.context {
	background-color: var(--context-background);

	&:hover {
		background-color: var(--context-hover-background);
	}
}

.count-container {
	background-color: var(--count-background);
	margin-left: $approxOneSpace;
	white-space: pre;
}

.count {
	cursor: default;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.decrement-count,
.increment-count {
	background-color: inherit;
	color: var(--vscode-foreground);
	cursor: pointer;
	display: inline-block;
	padding: 0 0.2rem;
	text-align: center;
	-webkit-user-select: none;
	width: 1.3em;

	&:hover {
		background-color: var(--count-button-hover-background);
	}
}

.decrement-count {
	border-right: 1px solid var(--border-light);
}

.increment-count {
	border-left: 1px solid var(--border-light);
}

.hidden {
	display: none;
}
// Custom-styled Checkbox ──────────────────────────────────────────────────────────────
$checkbox-size: 1rem;
// Maybe assign the class on the parent element
.custom-checkbox {
	-webkit-appearance: none;
	background-color: var(--checkbox-bg);
	bottom: 0;
	color: var(--checkbox-fg);
	cursor: pointer;
	display: inline-block;
	height: $checkbox-size;
	left: 0;
	margin: 0;
	margin-left: 1px;
	margin-right: 4px;
	min-width: $checkbox-size;
	position: relative;
	right: 0;
	top: 2px;
	width: $checkbox-size;
	z-index: var(--z-index-checkbox-2);

	&.round {
		border-radius: 50%;
	}

	&.round-border {
		background-color: inherit !important;
		border: 1px solid var(--foreground);
		border-radius: 50%;
		color: var(--foreground) !important;
	}

	&.square-border {
		background-color: inherit !important;
		border: 1px solid var(--foreground);
		color: var(--foreground) !important;
	}

	&.rounded-square {
		border-radius: 20%;
	}

	&.fill-round {
		border-radius: 50%;

		&:checked:before {
			display: none;
		}
	}

	&.fill-square {
		border-radius: 0;

		&:checked:before {
			display: none;
		}
	}

	&.fill-rounded-square {
		border-radius: 20%;

		&:checked:before {
			display: none;
		}
	}

	&:hover {
		background-color: var(--checkbox-hover-bg);
	}

	&:focus {
		outline: none !important;
	}

	&:checked {
		background-color: var(--checkbox-done-bg);

		&:before {
			content: '\2714 \FE0E';
			display: inline-block;
			font-family: 'Segoe UI Symbol', monospace;
			font-size: 0.7rem;
			height: $checkbox-size;
			line-height: $checkbox-size;
			position: absolute;
			text-align: center;
			width: $checkbox-size;
		}

		&.round-border,
		&.square-border {
			&:before {
				left: -1px;
				top: -1px;
			}
		}
	}
}