@import 'suggest.scss';
@import 'contextMenu.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	overflow-y: hidden;
}

$approxOneSpace: 0.25em;
$tagBackground: #d2e8ff;
$projectBackground: #c5ece0;
$contextBackground: #f7e0ff;
$checkboxBackground: #cbd1d8;
$darkenPercent: 8%;

body {
	--line-height: 1.4;
	--list-item-left-padding: 3px;
	--border-light: #cecece6c;
	--border-darker: #cecece;
	--foreground: var(--vscode-foreground);
	--done-task-background: #e9f0d6;
	--tag-foreground: var(--vscode-foreground);
	--tag-background: #{$tagBackground};
	--project-background: #{$projectBackground};
	--project-hover-background: #{darken($projectBackground, $darkenPercent)};
	--context-background: #{$contextBackground};
	--context-hover-background: #{darken($contextBackground, $darkenPercent)};
	--count-background: #0000000c;
	--count-button-background: #00000014;
	--count-button-hover-background: #0000002b;
	--selected-task-background: #d4e9ff;

	--twistie-hover-bg: rgba(0, 0, 0, 0.1);

	--checkbox-bg: #{$checkboxBackground};
	--checkbox-done-bg: #{darken($checkboxBackground, 20%)};
	--checkbox-fg: #ffffff;
	--checkbox-hover-bg: #{darken($checkboxBackground, 10%)};

	--due-fg: #5faedb;
	--due-bg: #5faedb12;
	--overdue-fg: #d3000099;
	--overdue-bg: #d3000012;
	--due-invalid-fg: #7284eb;
	--due-invalid-bg: #7284eb12;

	--inline-code-bg: rgba(27, 31, 35, 0.06);

	--z-index-checkbox-1: 10;
	--z-index-checkbox-2: 15;
	--z-index-filter-input: 999;
	// ──────────────────────────────────────────────────────────────────────
	backface-visibility: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: var(--font-size);
	-webkit-font-smoothing: antialiased !important;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: calc(4px + 4px + 24px);
	position: relative;
	-webkit-text-stroke: 0 !important;
	transform: translateZ(0);
}

body.vscode-dark {
	--border-light: #ffffff1c;
	--border-darker: #6d6d6d;
	--tag-background: #347dd1;
	--tag-foreground: #eeeeee;
	--project-background: #29a078;
	--project-hover-background: #21795b;
	--context-background: #9347b1;
	--context-hover-background: #733d8a;
	--project-foreground: #eeeeee;
	--count-background: #ffffff1a;
	--count-button-background: #ffffff1a;
	--done-task-background: #ace0001c;
	--selected-task-background: #d4e9ff40;

	--checkbox-bg: #3d4d63;
	--checkbox-low-contrast-bg: #{darken($checkboxBackground, 20%)};

	--overdue-bg: #fc424222;
	--overdue-fg: #fc4242e1;

	--inline-code-bg: rgba(240, 246, 252, 0.15);
}

table {
	border-collapse: collapse;
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
}

td,
th {
	border: 1px solid var(--border-darker);
	padding: 0.2rem;
}

a {
	margin-left: $approxOneSpace;
	text-decoration: none;
	word-break: break-all;
}

input[type='text'] {
	background-color: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border);
	color: var(--vscode-input-foreground);
	font-size: 13px;
	height: 24px;
	outline: none !important;
	padding: 3px;
	padding-left: 4px;

	&::selection {
		background-color: var(--vscode-selection-background);
	}
}

blockquote,
ul {
	margin: 0;
}

code {
	background-color: var(--inline-code-bg);
	border-radius: 3px;
	color: var(--vscode-editor-foreground);
	font-family: var(--font-family);
	padding: 0 0.2em;
}

button,
.btn {
	background-color: var(--vscode-button-background);
	border: none;
	color: var(--vscode-button-foreground);
	font-family: var(--vscode-font-family);
	margin: 0 auto;

	&:hover {
		background-color: var(--vscode-button-hoverBackground);
		color: var(--vscode-button-foreground);
	}

	&.btn-welcome {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 260px;
		outline-offset: 2px !important;
		padding: 4px;
		text-align: center;
		width: calc(100% - 40px);
	}

	&.btn-link {
		padding: 0.07em 0.4em;
	}
}

.welcome-text {
	display: block;
	margin: 1em 20px;
}

.task-list {
	font-family: var(--font-family);
	height: calc(100vh - 4px - 4px - 24px);
	line-height: var(--line-height);
	overflow-y: auto;
}

.list-item {
	border-left: var(--priority-left-padding) solid transparent;
	box-shadow: 0 1px 0 0 var(--border-light);
	padding: var(--padding) var(--list-item-left-padding);
	word-wrap: break-word;

	&.done {
		background-color: var(--done-task-background);

		&.strike-through > .title {
			text-decoration: line-through;
		}
	}

	&:hover {
		background-color: var(--vscode-list-hoverBackground);
	}

	&.nested-lvl-1 {
		padding-left: var(--indent-size);
	}

	&.nested-lvl-2 {
		padding-left: calc(var(--indent-size) * 2);
	}

	&.nested-lvl-3 {
		padding-left: calc(var(--indent-size) * 3);
	}

	&.nested-lvl-4 {
		padding-left: calc(var(--indent-size) * 4);
	}

	&.nested-lvl-5 {
		padding-left: calc(var(--indent-size) * 5);
	}

	&.nested-lvl-6 {
		padding-left: calc(var(--indent-size) * 6);
	}

	&.pri1 {
		border-left-color: #ec4f47;
	}

	&.pri2 {
		border-left-color: #fd9f9a;
	}

	&.pri3 {
		border-left-color: #ffb648;
	}

	&.pri4 {
		border-left-color: #f1d900;
	}

	&.pri5 {
		border-left-color: #ace000;
	}

	&.pri6 {
		border-left-color: #00cfad;
	}

	&.selected {
		background-color: var(--selected-task-background);
	}

	.twistie {
		border-radius: 3px;
		cursor: pointer;
		float: left;
		height: 16px;
		margin-left: -2px;
		position: relative;
		top: calc(((var(--padding) * 2 + var(--font-size) * var(--line-height)) - 16px) / 2);
		width: 16px;// Try to center the element

		&:hover {
			background-color: var(--twistie-hover-bg);
		}
	}

	.due-state {
		float: right;
		margin-right: -3px;
		padding: 0.05em 0.3em;

		&.due {
			background-color: var(--due-bg);
			color: var(--due-fg);
		}

		&.overdue {
			background-color: var(--overdue-bg);
			color: var(--overdue-fg);
		}

		&.invalid {
			background-color: var(--due-invalid-bg);
			color: var(--due-invalid-fg);
		}
	}

	.codicon {
		font-size: var(--font-size);
	}

	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

.checkbox {
	float: left;

	+ a {
		margin-left: 0;
	}
}

.native-checkbox {
	margin-left: 2px;
	margin-right: 5px;
	transform: scale(1.11);
}

.tag,
.project,
.context {
	border-radius: 3px;
	cursor: pointer;
	margin-left: $approxOneSpace;
	padding-left: 4px;
	padding-right: 4px;
	white-space: pre;
}

.tag {
	background-color: var(--tag-background);
	color: var(--tag-foreground);
	margin-left: 3px;

	&:hover {
		filter: brightness(95%);
	}
}

.project {
	background-color: var(--project-background);
	border-radius: 0;
	color: var(--project-foreground);

	&:hover {
		background-color: var(--project-hover-background);
	}
}

.context {
	background-color: var(--context-background);

	&:hover {
		background-color: var(--context-hover-background);
	}
}

.count-container {
	background-color: var(--count-background);
	margin-left: $approxOneSpace;
	white-space: pre;
}

.count {
	cursor: default;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.decrement-count,
.increment-count {
	background-color: inherit;
	color: var(--vscode-foreground);
	cursor: pointer;
	display: inline-block;
	padding: 0 0.2rem;
	text-align: center;
	-webkit-user-select: none;
	width: 1.3em;

	&:hover {
		background-color: var(--count-button-hover-background);
	}
}

.decrement-count {
	border-right: 1px solid var(--border-light);
}

.increment-count {
	border-left: 1px solid var(--border-light);
}

.hidden {
	display: none;
}
// Custom-styled Checkbox ──────────────────────────────────────────────────────────────
$checkbox-size: 1rem;
// Maybe assign the class on the parent element
.custom-checkbox {
	-webkit-appearance: none;
	background-color: var(--checkbox-bg);
	bottom: 0;
	color: var(--checkbox-fg);
	cursor: pointer;
	display: inline-block;
	height: $checkbox-size;
	left: 0;
	margin: 0;
	margin-left: 1px;
	margin-right: 4px;
	min-width: $checkbox-size;
	position: relative;
	right: 0;
	top: 2px;
	width: $checkbox-size;
	z-index: var(--z-index-checkbox-2);

	&.round {
		border-radius: 50%;
	}

	&.round-border {
		background-color: inherit !important;
		border: 1px solid var(--foreground);
		border-radius: 50%;
		color: var(--foreground) !important;
	}

	&.square-border {
		background-color: inherit !important;
		border: 1px solid var(--foreground);
		color: var(--foreground) !important;
	}

	&.rounded-square {
		border-radius: 20%;
	}

	&.fill-round {
		border-radius: 50%;

		&:checked:before {
			display: none;
		}
	}

	&.fill-square {
		border-radius: 0;

		&:checked:before {
			display: none;
		}
	}

	&.fill-rounded-square {
		border-radius: 20%;

		&:checked:before {
			display: none;
		}
	}

	&:hover {
		background-color: var(--checkbox-hover-bg);
	}

	&:checked {
		background-color: var(--checkbox-done-bg);

		&:before {
			content: '\2714 \FE0E';
			display: inline-block;
			font-family: 'Segoe UI Symbol', monospace;
			font-size: 0.7rem;
			height: $checkbox-size;
			line-height: $checkbox-size;
			position: absolute;
			text-align: center;
			width: $checkbox-size;
		}

		&.round-border,
		&.square-border {
			&:before {
				left: -1px;
				top: -1px;
			}
		}
	}
}